/* Google font used is Roboto Condensed with weight of 300 and 400 */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

/* Removed browser formatting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #760acf;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    height: 100vh;
}

/* Header section */

header,
nav {
    height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
}

.mtc-brand {
    display: flex;
    align-items: center;
}

.mtc-brand>h1 {
    margin-left: 15px;
}

/* Dark mode feature*/
.dark-mode,
.dark-mode-enabled {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    width: 160px;
}

.dark-mode-button {
    width: 60px;
    height: 30px;
    background: #430775;
    border-radius: 50px;
}

.toggler {
    width: 30px;
    height: 30px;
    background: #a842fc;
    border-radius: 50px;
}

/* Dark mode enabled */

.dark-mode-enabled {
    width: 190px;
}

.toggler-on {
    margin-left: auto;
}

.dark-background {
    background: #16161e;
}

.grey-background {
    background: #919191;
}

.grey-backface, .grey-frontface {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #383838 !important;
    backface-visibility: hidden;
}


.white-background {
    background: #ffffff;
}

/* Main section */

.card-board {
    width: 100%;
}

.card-grid {
    width: 550px;
    height: 360px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card-item {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.card-item:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.card-item.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    background: #500a73;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

.results {
    margin-top: 5px;
    width: 540px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

button{
    background-color: #500a73;
    color: #fff;
    border: 0;
    height: 20px;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
}

.reset{
    color: #fff;
    background-color: red;
    border: 0;
    height: 20px;
    width: 100px;
}

/* Media queries */

/* Media queries for large devices */
@media only screen and (max-width: 1500px) {
    header {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 960px) {

    header,
    nav {
        height: 70px;
        width: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Media queries for mobile devices */
@media screen and (max-width: 650px) {

    header,
    nav {
        height: 50px;
        width: 98%;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 1em;
    }

    .dark-mode {
        width: 110px;
        font-size: 0.9em;
    }

    .dark-mode-button {
        width: 30px;
        height: 15px;
        border-radius: 50px;
    }

    .toggler {
        width: 15px;
        height: 15px;
        border-radius: 50px;
    }

    .card-grid {
        width: 500px;
        height: 350px;
    }

    .results {
        width: 500px;
    }
}

@media only screen and (max-width: 480px) {
    .card-grid {
        width: 350px;
        height: 250px;
    }

    .results {
        width: 350px;
    }
}


@media only screen and (max-width: 350px) {

    .card-grid {
        width: 300px;
        height: 220px;
    }

    .results {
        width: 300px;
    }

    .mtc-brand>h1 {
        margin-left: 10px;
        font-size: 0.8em;
    }

    .mtc-brand>img {
        width: 30px;
        height: 30px;
    }

    .dark-mode {
        width: 90px;
    }

    .dark-mode>p {
        font-size: 0.8em;
    }
}

/* Media Query for devices in landscape orientation */
@media only screen and (orientation: landscape) and (max-width: 750px) {

    header,
    nav {
        height: 50px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .dark-mode-button {
        width: 40px;
        height: 20px;
    }

    .toggler {
        width: 20px;
        height: 20px;
    }

    .mtc-brand>h1 {
        margin-left: 10px;
        font-size: 0.8em;
    }

    .mtc-brand>img {
        width: 30px;
        height: 30px;
    }

    .dark-mode,
    .dark-mode-enabled {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.7em;
        width: 100px;
    }

    .card-grid {
        margin-top: 0px;
        width: 350px;
        height: 250px;
    }

    .results {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
}